{% extends "base.html" %}

{% block content %}
        <h1>Название: {{data.title}}</h1>
        {% for q in data.questions %}
            <p>{{q.text}}</p>
            <form action="/vote/{{data.id}}">
                {% for a in q.answer %}
               <p><input type="radio" name="answer" value="{{a}}">{{a }}</p>
               {% endfor %}
            </form>

            
        {% endfor %}
        <h2> Автор: {%set full_name = data.creator.first_name + ' ' + data.creator.last_name %} <a href="/user/{{data.creator.login}}">{{full_name}}</a></h2>
{% endblock %}