{% extends "base.html" %}

{% block content %}

<h1>Информация о пользователе {{data.login}}</h1>
<p>Всего опросов: {{ data.votes|length }}</p>
    <h2>Опросы</h2>
    {% if not user or user.login != data.login %}
        {% for vote in data.votes if vote.visible %}
            <h2><a href="/votes/get/{{vote.id}}">{{vote.title}}</a></h2>
            <p>{{vote.description}}</p>


        {% endfor %}
    {% else %}
        {% for vote in data.votes %}
            <h2><a href="/votes/get/{{vote.id}}">{{vote.title}}</a></h2>
            <p>{{vote.description}}</p>
        {% endfor %}
    {% endif %}


{% endblock %}