{% extends "base.html" %}

{% block content %}
{% set counter = -1 %}
        <h1>Название: {{data.title}}{% if data.closed %} <b>(Закрыто)</b>{% endif %}</h1>
        {% if not data.visible %} <p>Голосование скрыто</p> {% endif %}
        {% if data.edit_date %}<p>Изменено: {{data.edit_date}}</p>{% endif %}
        {% if author %} <a href="/votes/edit/{{data.id}}">Редактировать</a> {% endif %}
        {% for q in data.questions %}
            <p>{{q.text}}</p>
            <form action="/votes/vote/{{data.id}}" method="post">
                <input type="hidden" name="question_id" value="{{q.id}}">
                {% for a in q.answers %}
                {% set counter = loop %}
                {% set counter = counter.index0 %}
               <input type="radio" name="answer" value="{{counter}}">{{a }}
               {% endfor %}
                {% if allowed['allowed'] %}
               <span><input type="submit"></span>
               {% else %}
               <p>{{allowed['reason']}}</p>
               <a href="/votes/result/{{data.id}}">Результаты</a>
                {% endif %}
            </form>

            
        {% endfor %}
        <h2> Автор: {%set full_name = data.creator.first_name + ' ' + data.creator.last_name %} <a href="/users/{{data.creator.login}}">{{full_name}}</a></h2>
{% endblock %}